.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .card-img-top:hover {
    transform: scale(1.1); 
  }
  .image-container{
    
    overflow: hidden;
  }
  .image-container:hover{
    box-shadow: 1px 1px 1px 1px grey;
  }
  .main-page{
    background: radial-gradient(blue,purple);
  }